@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
}

.header{
    font-family:'Times New Roman';
    background-color:#01023397;
     
}

.title{
    text-align: left;
    padding-left: 30px;
    font-size: 40px;
    margin: 20px;
    border-radius: 10px;
    color:#010233;

}

.btn{
    
    width:80px;
    border:1px solid #010233;
    border-radius:5px;
    padding: 5px;
    margin: 1px 5px 1px 50px;
}

.boxes{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: #ccc;
}

.box {
    display: block;
    text-decoration: none;
    font-family: 'georgia';
    padding: 10px;
    margin: 20px 0px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    border: ridge 2px #baacf4;
    background: linear-gradient(-225deg, #47479b 0%, #4f35a7 53%, #6457C6 100%);
    border-radius: 10px;
    box-shadow: 17px 20px 20px #40408b;
    font-weight: 900;
    text-transform: uppercase;
}

.box1,.box2,.box3,.box4,.box5{
    height: 500px;
    width:19%;
    margin:8px;
    border-radius: 5px;
    padding: 20px;
    background-color:#ccc;
    color: #010233;

}
.b1,.b2,.b3{
    width:98%;
    height:20%;
    background-color: #fff;
    margin: 5px 0px 5px 0px;
    padding: 5px;
    border-radius:8px ;
}



table{
    margin: 0px 15px;
    text-transform: none;
    /* border: 2px ridge #010233; */
    border-collapse:separate;
    border-spacing: 4px;
    border-radius: 5px;
    color:#ccc;
    width:100%;


}
th,td,tr{
    text-transform: none;
    /* border: 2px ridge #010233; */
    border-collapse:separate;
    border-spacing: 4px;
    border-radius: 5px;
    width: 20%;
    }

th{
    background-color: #01023397;
    padding:12px;
    
}
td{
    background-color:#01023348;
    padding: 10px;
    
}



@media screen and (min-width:700px){
    .box {
        width:93%;
        /* height:500px; */
    }
}
